.toIndex {
    background-color: lightcoral;
}

.topTitle {
    background-color: lightcoral;
}

.middleTitle {
    background-color: lightcoral;
}

.topItemTitle {
    background-color: lightcoral;
}

.top {
    height: 580px;
}

.topItem1, .topItem2, .topItem3 {
    height: 580px;
}

.bottomTh1, .bottomTh2, .bottomTh3, .bottomTh4, .bottomTh5, .bottomTh6 {
    width: 10%;
    background-color: lightcoral;
    color: white;
    padding: 5px;
}

.bottomTh2 {
    width: 20%;
    background-color: lightcoral;
}

.bottomTh3 {
    width: 40%;
    background-color: lightcoral;
}

.bottomTh4 {
    background-color: lightcoral;
}

.bottomTh5 {
    background-color: lightcoral;
}

.bottomTh6 {
    background-color: lightcoral;
}

.bottomTd1, .bottomTd2, .bottomTd3, .bottomTd4, .bottomTd5, .bottomTd6 {
    width: 10%;
    border: 2px solid lightcoral;
    padding: 5px;
}

.bottomTd2 {
    width: 20%;
    border: 2px solid lightcoral;
}

.bottomTd3 {
    width: 40%;
    border: 2px solid lightcoral;
}

.bottomTd4 {
    border: 2px solid lightcoral;
}

.bottomTd5 {
    border: 2px solid lightcoral;
}

.bottomTd6 {
    border: 2px solid lightcoral;
}