.toIndex {
    background-color: cadetblue;
}

.topTitle {
    background-color: cadetblue;
}

.middleTitle {
    background-color: cadetblue;
}

.topItemTitle {
    background-color: cadetblue;
}

.downLoad {
    float: right;
    width: 30%;
    right: 0px;
    border-radius: 5px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    background: cadetblue;
}

.downLoadText {
    display: inline-block;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
}

.downLoadInput {
    width: 250px;
    right: 100px;
}

.downLoadButton {
    width: 65px;
    right: 25px;
}

.top {
    height: 750px;
}

.topItem1, .topItem2, .topItem3 {
    height: 750px;
}

.bottomTh1, .bottomTh2, .bottomTh3, .bottomTh4, .bottomTh5 {
    width: 12%;
    background-color: cadetblue;
    color: white;
    padding: 5px;
}

.bottomTh2 {
    background-color: cadetblue;
}

.bottomTh3 {
    width: 16%;
    background-color: cadetblue;
}

.bottomTh4 {
    width: 42%;
    background-color: cadetblue;
}

.bottomTh5 {
    width: 18%;
    background-color: cadetblue;
}

.bottomTd1, .bottomTd2, .bottomTd3, .bottomTd4, .bottomTd5 {
    width: 12%;
    border: 2px solid cadetblue;
    padding: 5px;
}

.bottomTd2 {
    border: 2px solid cadetblue;
}

.bottomTd3 {
    width: 16%;
    border: 2px solid cadetblue;
}

.bottomTd4 {
    width: 42%;
    border: 2px solid cadetblue;
}

.bottomTd5 {
    width: 18%;
    border: 2px solid cadetblue;
}