.toIndex {
    background-color: burlywood;
}

.topTitle {
    background-color: burlywood;
}

.middleTitle {
    background-color: burlywood;
}

.topItemTitle {
    background-color: burlywood;
}

.top {
    height: 700px;
}

.topItem1, .topItem2, .topItem3 {
    height: 700px;
}

.bottomTh1, .bottomTh2, .bottomTh3, .bottomTh4, .bottomTh5, .bottomTh6, .bottomTh7, .bottomTh8, .bottomTh9, .bottomTh10, .bottomTh11, .bottomTh12, .bottomTh13, .bottomTh14, .bottomTh15 {
    width: 5%;
    background-color: burlywood;
    color: white;
    padding: 5px;
}

.bottomTh2 {
    background-color: burlywood;
}

.bottomTh3 {
    background-color: burlywood;
}

.bottomTh4 {
    background-color: burlywood;
}

.bottomTh5 {
    background-color: burlywood;
}

.bottomTh6 {
    background-color: burlywood;
}

.bottomTh7 {
    background-color: burlywood;
}

.bottomTh8 {
    background-color: burlywood;
}

.bottomTh9 {
    background-color: burlywood;
}

.bottomTh10 {
    background-color: burlywood;
}

.bottomTh11 {
    background-color: burlywood;
}

.bottomTh12 {
    background-color: burlywood;
}

.bottomTh13 {
    background-color: burlywood;
}

.bottomTh14 {
    background-color: burlywood;
}

.bottomTh15 {
    width: 30%;
    background-color: burlywood;
}

.bottomTd1, .bottomTd2, .bottomTd3, .bottomTd4, .bottomTd5, .bottomTd6, .bottomTd7, .bottomTd8, .bottomTd9, .bottomTd10, .bottomTd11, .bottomTd12, .bottomTd13, .bottomTd14, .bottomTd15 {
    width: 5%;
    border: 2px solid burlywood;
    padding: 5px;
}

.bottomTd2 {
    border: 2px solid burlywood;
}

.bottomTd3 {
    border: 2px solid burlywood;
}

.bottomTd4 {
    border: 2px solid burlywood;
}

.bottomTd5 {
    border: 2px solid burlywood;
}

.bottomTd6 {
    border: 2px solid burlywood;
}

.bottomTd7 {
    border: 2px solid burlywood;
}

.bottomTd8 {
    border: 2px solid burlywood;
}

.bottomTd9 {
    border: 2px solid burlywood;
}

.bottomTd10 {
    border: 2px solid burlywood;
}

.bottomTd11 {
    border: 2px solid burlywood;
}

.bottomTd12 {
    border: 2px solid burlywood;
}

.bottomTd13 {
    border: 2px solid burlywood;
}

.bottomTd14 {
    border: 2px solid burlywood;
}

.bottomTd15 {
    width: 30%;
    border: 2px solid burlywood;
}