.topTitle {
    background-color: black;
}

.linkItems {
    justify-content: space-around;
    display: flex;
    width: 100%;
}

.lineItem1, .lineItem2, .lineItem3, .lineItem4, .lineItem5 {
    width: 100%;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: lightcoral;
}

.lineItem2 {
    background-color: cadetblue;
}

.lineItem3 {
    background-color: burlywood;
}

.lineItem4 {
    background-color: turquoise;
}

.lineItem5 {
    background-color: yellowgreen;
}